body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  font-size: 14px;
}

.container{
  max-width: 1200px;
  margin: auto;
}

h1{
  color: rgb(240, 9, 209);
  font: normal 600 33px roboto
}